commands:
  01_install_extensions:
    command: |
      if [ ! -f /swapfile ]; then
        sudo dd if=/dev/zero of=/swapfile bs=1M count=1024
        sudo chmod 600 /swapfile
        sudo mkswap /swapfile
        sudo swapon /swapfile
      fi
      
      sudo pecl channel-update pecl.php.net || true
      yes '' | sudo pecl install redis || true
      yes '' | sudo pecl install mongodb || true
      
      echo "extension=redis.so" | sudo tee /etc/php.d/99-redis.ini
      echo "extension=mongodb.so" | sudo tee /etc/php.d/99-mongodb.ini
